# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_URL=
SUPABASE_ANON_KEY=

# School Filter & App Name
NEXT_PUBLIC_APP_NAME=Académie du Salut
NEXT_PUBLIC_APP_SHORT_NAME=ADS
NEXT_PUBLIC_DEFAULT_SCHOOL_ID=64c583de-e9e2-456b-8942-164656544661
