NEXT_PUBLIC_APP_NAME=
NEXT_PUBLIC_APP_SHORT_NAME=
NEXT_PUBLIC_DEFAULT_SCHOOL_ID=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_URL=
IS_PROD=true
NEXT_PUBLIC_IS_PROD=true
NEXT_PUBLIC_TWIGA_CLIENT_ID=
NEXT_PUBLIC_TWIGA_WALLET_ID=
NEXT_PUBLIC_TWIGA_SUPABASE_URL=
TWIGA_SUPABASE_ANON_KEY=
NEXT_PUBLIC_TWIGA_ANON_KEY=
