@font-face {
  font-family: "baloo";
  src: url("../assets/Fonts/Baloo-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "baloobhai";
  src: url("../assets/Fonts/baloobhai-regular.ttf") format("truetype");
}

@font-face {
  font-family: "berton roman";
  src: url("../assets/Fonts/Berton-Roman-trial.ttf") format("truetype");
}

@font-face {
  font-family: "berton voyage";
  src: url("../assets/Fonts/Berton-Voyage-trial.ttf") format("truetype");
}

@font-face {
  font-family: "etelka";
  src: url("../assets/Fonts/Etelka.otf") format("opentype");
}

@font-face {
  font-family: "gwibble";
  src: url("../assets/Fonts/GWIBBLE_.TTF") format("truetype");
}

@font-face {
  font-family: "helveticaNeue";
  src: url("../assets/Fonts/HelveticaNeue.ttf") format("truetype");
}

@font-face {
  font-family: "blzee";
  src: url("../assets/Fonts/blzee.ttf") format("truetype");
}

@font-face {
  font-family: "filmcriptic";
  src: url("../assets/Fonts/Filmcryptic.ttf") format("truetype");
}

@font-face {
  font-family: "heybetty";
  src: url("../assets/Fonts/HeyBetty-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "pencilant";
  src: url("../assets/Fonts/Pencilant-Script.ttf") format("truetype");
}

// @font-face {
//   font-family: 'etelka';
//   src: url('../assets/Fonts/Etelka-Black.otf') format('opentype');
// }
