.lesson-title {
  cursor: pointer;
  background: rgba(var(--ion-color-cerulean-rgb), 0.3);
  display: inline;
  padding: 5px 10px;
  border-radius: 10px;
  transition: background 25ms ease-in-out;
  &:hover {
    cursor: pointer;
    background: rgba(var(--ion-color-cerulean-rgb), 0.5);
    transition: background 25ms ease-in-out;
  }
}

#editor-container .ql-editor {
  height: 400px;
  overflow-y: auto;
}

.ql-editor table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed; /* Ensures fixed column widths */
}

.ql-editor table td,
.ql-editor table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.ql-editor .ql-table {
  width: 100%;
}
quill-editor {
  width: 100% !important;
  min-height: 30vh !important;
  display: block !important;
}

.quill-editor {
  width: 100% !important;
  min-height: 30vh !important;
}

.quill-editor .ql-container {
  min-height: 30vh !important;
}

.quill-editor .ql-editor {
  min-height: 30vh !important;
  width: 100% !important;
}
.board-container {
  background: url(../../../../assets/textures/pexels-fwstudio-33348-139306.jpg);
  background-repeat: repeat;
  background-size: 30%;
  border: 1px solid whitesmoke;
  padding: 10px;
  border-radius: 15px;

  &.quiz-content {
    border-radius: 0px;
    padding: 5px;
    background: none;
    border: none;

    .board {
      background: none;
      border: none;

      .content {
        height: 100px;
        overflow-y: scroll;
      }
    }
  }

  .board {
    background: url(../../../../assets/textures/background-black-blackboard-159770-1200w.jpg)
      center center no-repeat;
    background-size: cover; // S'assurer que l'image couvre toute la surface sans répétition
    border-radius: 8px;
    padding: 0px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    font-family: "blzee";
    &.courses {
      padding: 10px;
      font-size: 18px;
      .content {
        height: 300px;
        overflow-y: scroll;
      }
    }

    .ql-toolbar.ql-snow {
      background: rgba(255, 255, 255, 0.5);
    }
    .ql-toolbar.ql-snow,
    .ql-container.ql-snow {
      border: none;
    }
    .ql-editor {
      font-family: "blzee";
      //   font-family: "filmcriptic";
      //   font-family: "berton roman";
      font-size: 17px;
      &.ql-blank::before {
        content: attr(data-placeholder);
        color: #999; /* Placeholder text color */
        font-style: italic; /* Make it italic to resemble typical placeholders */
        position: absolute;
        top: 0;
        left: 0;
        padding: 10px; /* Adjust padding to align with text */
        pointer-events: none; /* Ensure the placeholder text is not selectable/clickable */
        font-size: 17px; /* Adjust font size as needed */
      }
    }
  }
}

// quiz
ion-accordion {
  margin: 0 auto;
}

ion-accordion.accordion-expanding,
ion-accordion.accordion-expanded {
  width: calc(100% - 32px);

  margin: 16px auto;
}

ion-accordion.accordion-collapsing ion-item[slot="header"],
ion-accordion.accordion-collapsed ion-item[slot="header"] {
  --background: var(--ion-color-teal);
  --color: var(--ion-color-light-contrast);
}

ion-accordion.accordion-expanding ion-item[slot="header"],
ion-accordion.accordion-expanded ion-item[slot="header"] {
  --background: var(--ion-color-teal);
  --color: var(--ion-color-primary-contrast);
}
ion-accordion div[slot="content"] {
  // --background: var(--ion-color-teal);
  background: url(../../../../assets/textures/background-black-blackboard-159770-1200w.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: repeat-y;
  min-height: 200px;
  padding: 0;

  .nothing {
    color: rgba(255, 255, 255, 0.458);
  }
  section.quiz {
    font-family: "blzee";
    ion-textarea[placeholder],
    textarea[placeholder] {
      font-family: "blzee";
    }
    .quill-editor {
      height: 100px; /* Adjust as needed */
      margin-bottom: 20px; /* Spacing between editors */
    }
  }
  .quiz-answers {
    ion-item {
      // --background: #3880ff;
      --border-radius: 15px;
      // --border-style: solid;
      // --border-width: 8px;

      // --inner-border-width: 8px;
      // --inner-box-shadow: 4px 4px;
      --border-radius: 15px;
      --inner-padding-bottom: 0px;
      --inner-padding-end: 0px;
      --inner-padding-start: 0px;
      --inner-padding-top: 0px;

      margin-bottom: 5px;
    }
  }
}

.all-courses {
  width: 100%;
  display: inline-block;
  .list,
  .previews {
    float: left;
  }
  .list {
    width: 100%;
    &.preview-set {
      width: 45% !important;
    }
  }
  .previews {
    ion-button.radius-15 {
      --border-radius: 15px;
    }
    &.previews-item {
      width: 55% !important;
      padding: 0 10px;
    }
  }
}
@media (400px <= width <=600px) {
  .all-courses {
    .list {
      &.preview-set {
        width: 100% !important;
      }
    }
    .previews {
      &.previews-item {
        width: 100% !important;
      }
    }
  }
}
.quiz-list-item {
  --border-radius: 8px;
  h5 {
    font-size: 15px;
    margin: 3px 0;
  }
  small {
    font-size: 11px;
  }
}
